<div class="container pp">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="./../../assets/Pragati_pandey.jpg" alt="Admin" class="rounded-circle p-1 bg-primary" width="210">
                            <div class="mt-3">
                                <h4>Pragati Pandey</h4>
                                <p class="text-secondary mb-1">B.Tech 3rd year<br> Information Technology <br>1901640130048 </p>
                                <p class="text-muted font-size-sm">Project Developer </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2>Employee Management Application</h2>
                        <p>Employee Management is an application which allows you to manage your Employee
                            details at ease.
                        </p>
                        <br>
                        <div class="container box">
                            
                            <div class="box1">
                                <h4>Technology Used</h4>
                                <p> <b>Frontend:</b> Angular & Bootstrap <br>
                                    <b>Backend:</b> Spring Boot <br>
                                     <b>Database:</b> MySQL </p>

                             <h4>Software Requirement</h4>
                                    <ul>
                                        <li>Visual Studio Code </li>
                                        <li>Spring Tool Suite</li>
                                        <li>MySQL Workbench</li>    
                                        <li>Browser</li>
                                    </ul>

                            </div>
                            <div class="box2">
                                
                            <h4>Details</h4>
                            Employee Management contains following pages:
                            <ul>
                                <li>Home Page</li>
                                <li>Employee List Page</li>
                                <li>Add Employee Form</li>
                                <li>About Page</li>
                            </ul>
                            </div>

                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                               <h2>Project Summary</h2>
                                <p>In this project, an user can add the list of employees and can manage them
                                    with ease. This project is built on Angular framework which is responsible for frontend. The 
                                    backend part of this project has used Java Spring Boot. The built tool is Maven Project. For database it has used MySQL Database.
                                </p>
                                <p>
                                    In this project all four <i>CRUD</i> operations are performed i.e. <i>CREATE, UPDATE, READ</i> and <i>DELETE</i>.
                                    I have used JPA dependency which is resposible for <i>CRUD </i> operations. It consist of ready made funtions to perform actions on
                                    database.
                                </p>

                                    In database it has used a single table <i>user_pragati</i> to store all data of the 
                                    employees. It consist of following attributes:
                                     <ul>
                                         <li> <i>usersignupid</i> </li>
                                         <li> <i>firstname</i> </li>
                                         <li> <i>lastname</i> </li>
                                         <li> <i>address</i> </li>
                                         <li> <i>pincode</i> </li>
                                     </ul>
                                <p>In the table, <i>usersignupid</i> is a primary key which is a random number generated by the random funtion. 
                                The <i>usersignupid</i> is unique in the table. The <i>DELETE</i> and <i>UPDATE</i> operations are
                                formed by fetching data from table by <i>usersignupid</i> </p>
                                
                                <h5>Future Improvements</h5>
                                <p>For further Improvements, it can add more details of the employee like <i>status, phone number, company, salary etc</i>
                                .It can also have multiple user accounts so that an user can add their separate employee lists. A single will be able
                            to create diffirent list of anything inside their accounts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>