  
<!-- <router-outlet></router-outlet>
   -->
<div class="container-fluid">
    <div class="container d-flex mt-4">
      <div class="container p-4">
        <h1>
          EMPLOYEE <br />
          MANAGEMENT<br />
          <h2>Manage At Ease</h2>
        </h1>
        <br />
        <p>
          Welcome to the employee management application where you can VIEW, ADD, EDIT and DELETE any of your emplyee details.
        </p>
        <button
          type="button"
          routerLink="../addemp"
          class="btn btn-primary mt-3 me-4"
        >
          ADD Employee
        </button>
        <button
          type="button"
          routerLink="../listemp"

          class="btn btn-primary mt-3"
        >
          VIEW Employee
        </button>
      </div>

      <div class="container">
        <img
          class="img-fluid"
          src="https://source.unsplash.com/user/erondu/1600x900"
          alt="random auction related photo"
        />
      </div>

    </div>
  </div>
